* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    margin: 0, auto;
}

h1 {
    margin: 20px;
}

ul.nav {
    margin: 20px;
}

section.row {
    background-color:#ffffff;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    color: #4179e1;
    /* padding: 10px; */
}

h3 {
    color:#4179e1 ;
}

img.float-left {
    margin-right: 20px;
    border-radius: 5px;
}

/* img.card-image-top {
    width: 100%;
    height: auto;
    position: relative;
} */

footer p {
    columns: #000000;
    margin: 20px;
}